#loginimg{
    width: auto;
    height: 100%000;
    /* max-height: 1000px; */
    opacity: 1;
}

#exampleFormControlInput1{
    width: 401px;
height: 56px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 10px #2B64B11F;

border-radius: 3px;
opacity: 1;

}
#exampleFormControlInput2:hover{
    border-color: #2B64B1;

}
#exampleFormControlInput2{
    width: 401px;
height: 56px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0.97px 0.26px 3px #0000000D;
border: 1px solid #D9D9D9;
border-radius: 3px;
opacity: 1;

}
.form-label{
    width: 102px;
height: 22px;
text-align: left;
letter-spacing: 0px;
color: #414141;
opacity: 1;
}
#loginbtn{
    width: 401px;
height: 48px;
background: #F8863400 0% 0% no-repeat padding-box;
border: 2px solid #F88634;
border-radius: 24px;
opacity: 1;
}
#loginbtn:hover{
    background-color: darkgray;
}
#txt{
    width: 45px;
height: 23px;
text-align: left;
letter-spacing: 0px;
color: #F88634;
opacity: 1;
}