@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
header {
padding:25px;
width: 100%;
}
.icnmenu {
margin-right:15px;
width: 25px;
height: 25px;
background-color: #FFFFFF;
}
.icnlogo {
margin-right:25px;
width: 150px;
height: 30px;

}


.icnsearch {
margin-right:5px;
width: 25px;
height: 25px;
margin-left: 30px;
}
.txtsearch {
    width: 49px;
    height: 25px;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: normal normal normal;
line-height:21px;
border-style:none;
}
.nav-link:hover{
    
    background-color: #FFF3F4;
    

}
.da:hover{
    color: #C8242F;
}
.nav-link{
    padding-left: 30px;
}
.icnnotification{
margin-left:1242px;
width:25px;
height:25px;
}
.imgprofile{
margin-left:35px;
margin-right:5px;
width:50px;
height:50px;
}
.proname {
font-size: 20px;
font-family: 'Roboto', sans-serif;
font-weight: normal normal normal;
line-height: 21px;
margin-right: 14;
padding-left: 15px;
}
.icndown {
margin-left: 15px;
width: 25px;
height: 25px;
}
nav {
float: left;
width: 250px;
height: 1500px;
background: #FFFFFF 0% 0% no-repeat padding-box;
padding-top: 10px
}
ul{
margin:10px;
list-style-type:none;
}
.icnsidebar{
width:25px;
height:25px;
margin-right:10px;

}

.nav-link{
text-decoration: none;
color: black;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: normal normal normal;
line-height: 21px;
}


#columnone{
    font-size: 22px;
    font: normal normal medium 22px/29px Roboto;
}

#name{
    
width: 100%;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 20px;

}
#namedropdown{
    width: 100%;
height: 49px;
    border: 1px solid #ADADAD;
border-radius: 5px;
margin-bottom: 20px;
opacity: 1;
}
.textarea1{
    width: 100%;
height: 130px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
#name2{
    width: 49%;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 20px;
}
#password1{
    width: 49%;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 25px;
}
#username{
    width: 49%;
height: 47px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 20px;
}
#namedropdown2{
    width: 49%;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 25px;
}
#name3{
    width: 100%;
height: 58px;
border: 1px solid #ADADAD;
border-radius: 5px;
}
#Dropdown4{
    width: 100%;
height: 58px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

.Textu{
    width: 91px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
margin-left: 20PX;
}
#butp{
    width: 124px;
height: 45px;
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
border-color: #C8242F;
opacity: 1;
}
#buts{
    width: 145px;
height: 44px;
border: 1px solid #C8242F;
border-radius: 22px;
opacity: 1;
}
#tab1{
    
    text-align: left;
font: normal normal normal 15px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 15px;
}

